<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>KariKari</title>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="images/favicon.png" />


<body>
  <div class="body-wrapper">
    <header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <div class="mdc-menu-anchor">
        </div>
        <div class="mdc-menu-anchor mr-1">
          <a class="mdc-button" id="logOut" href="/logout">LOGOUT</a>
          <div class="mdc-button__ripple"></div>
          </button>
        </div>
        </section>
      </div>
      </row>
    </header>
    <!-- partial -->


    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <h1>KariKari</h1>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <div class="mdc-card ">

                <button class="mdc-button" id="resetCanvas">
                  <div class="mdc-button__ripple"></div>
                  <span class="mdc-button__label">CLEAR CANVAS</span>
                </button>

                <div id="container">
                  <canvas id="canvas" width="500" height="300">
                  </canvas>
                </div>                
              </div>
            </div>

         
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <div class="mdc-card card">
       

                          <!--Material textarea-->
                          <label for="form7">Player input</label>
                          <div class="md-form">
                            <textarea id="playerInput" class="md-textarea form-control" rows="3"></textarea>
                          </div>


               <label id="submitI" class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                                  <input class="mdc-text-field__input" id ="myInput" placeholder ="Enter Your Guess" type="text" aria-label="Label">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </label>
                <button type="button"onclick="text();" id ="sub"class="mdc-button">
                  <div class="mdc-button__ripple"></div>
                  <span class="mdc-button__label">Submit</span>
                </button>
              </div>
            </div>
          </div>

          <button onclick="newWord();">next word</button>
            <h2>Word to be guessed is:<div id="myWord"></h2>



        </div>
      </main>
      <!-- partial:partials/_footer.html -->
      <footer>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <span class="text-muted">Copyright © 20202 <a class="text-green" href="javascript:void(0);"
                  target="_blank">Game Name Here</a>. All rights reserved.</span>
            </div>
          </div>
        </div>
      </footer>
      <!-- partial -->
    </div>
  </div>
  <!-- body wrapper -->
  <!-- plugins:js -->


<script>

  </script>
  <script src="js/jquery3.4.1.min.js"></script>
  <script src="js/main.js"></script>
</body>


</html>
